<div class="login">
    <div class="login-triangle"></div>
    <span>testing</span>
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container">
      <p><input type="text" id="user_name" placeholder="Email"></p>
      <p><input type="email" id="user_email" placeholder="Email"></p>
      <p><input type="password" id="password" placeholder="Password"></p>
      <p><input type="submit" value="Log in" (click)="login()"></p>
    </form>
    <p>you didn't Have account <a (click)="register()" style="cursor: pointer; color: blue;">Register</a></p>
  </div>